---
layout: default
title: Home
slogan: "#WriteInChallenge"
English_About_Jorge: "<p>Hello everybody! My name is Jorge A. Vela, and I extremely
  passionate in learning about politics, helping others, having great times with family
  and friends, and enjoying on helping my community through my own skills and merits.
  I have always felt good living in El Cenizo, and it would be a pleasure for me to
  serve you as your voice!</p>"
Spanish_About_Jorge: "<p>¡Hola todos! Mi nombre es Jorge A. Vela, y me apasiona mucho
  aprender sobre política, ayudar a otros, pasar buenos momentos con mi familia y
  amigos y disfrutar ayudando a mi comunidad a través de mis propias habilidades y
  méritos. Siempre me he sentido bien viviendo en El Cenizo, y sería un placer para
  mí servirte como tu voz!</p>"
English_Key_Issue_One: 'Education: Encouraging local people of all ages to seek educational
  opportunities is vital for career opportunities and a better community.'
English_Key_Issue_Two: 'Infrastructure: Sidewalks, the re-pavement of damaged streets
  and potholes, having a stable ambulance service, and police force are all vital
  things needed.'
English_Key_Issue_Three: 'Recreation Center: My biggest proposal is to champion for
  the establishment of a recreation center in the city with a gym and swimming pool
  that all can enjoy.'
Spanish_Key_Issue_One: 'Educación: Animar a la gente local de todas las edades a buscar
  oportunidades educativas es vital para las oportunidades de carrera y una mejor
  comunidad.'
Spanish_Key_Issue_Two: 'Infraestructura: Las banquetas, el re-pavimento de calles
  y baches dañados, tener un servicio de ambulancia estable y la fuerza policial son
  cosas vitales que se necesitan.'
Spanish_Key_Issue_Three: 'Centro de recreación: Mi mayor propuesta es defender el
  establecimiento de un centro de recreación en la ciudad con un gimnasio y una piscina
  que todos puedan disfrutar.'
English_Endorsement_Text: "<p>See why people think Jorge A Vela should be the next
  city commissioner of El Cenizo. If you know Jorge, we encourage you to tell others
  why he is the best candidate for the job by writing an endorsement.</p>"
Spanish_Endorsement_Text: "<p>Vea por qué la gente piensa que Jorge A Vela debería
  ser el próximo comisionado de la ciudad de El Cenizo. Si conoce a Jorge, le pedimos
  su apoyo y que escriba un respaldo public.</p>"
published: false

---
<div class="page-home">
  
  <h1 class="name">Jorge A Vela</h1>
  <h2 class="comm">For Commissioner</h2>
  <h2 class="slogan">{{ page.slogan }}</h2>

  {% include email.html %}

  <!-- ---------------------------------------------------- -->
  <!-- -------------------- Meet Jorge -------------------- -->
  <!-- ---------------------------------------------------- -->
  <section class="meet-jorge">
    <div class="section-content">
      <h2 class="eng">Meet Jorge A Vela</h2>
      <h2 class="span hide">Conoce a Jorge A Vela</h2>
      <div class="eng">{{ page.English_About_Jorge }}</div>
      <div class="span hide">{{ page.Spanish_About_Jorge }}</div>
      <a href="/about" class="read-more">
        <span class="eng">Read More About Jorge</span>
        <span class="span hide">Lea Más Sobre Jorge</span>
      </a>
    </div>
  </section>

  <!-- ---------------------------------------------------- -->
  <!-- -------------------- Key Issues -------------------- -->
  <!-- ---------------------------------------------------- -->
  <section class="issues">
    <div class="section-content">
      <h2 class="eng">Key Issues for Jorge</h2>
      <h2 class="span hide">Propuestas de Jorge</h2>
      <ul>
        <li class="eng">{{ page.English_Key_Issue_One }}</li>
        <li class="eng">{{ page.English_Key_Issue_Two }}</li>
        <li class="eng">{{ page.English_Key_Issue_Three }}</li>
        <li class="span hide">{{ page.Spanish_Key_Issue_One }}</li>
        <li class="span hide">{{ page.Spanish_Key_Issue_Two }}</li>
        <li class="span hide">{{ page.Spanish_Key_Issue_Three }}</li>
      </ul>
      <a href="/issues" class="read-more">
        <span class="eng">Read More About the Issues</span>
        <span class="span hide">Lea Más Sobre Propuestas</span>
      </a>
    </div>
  </section>

  <!-- ---------------------------------------------------- -->
  <!-- -------------------- Blog Posts -------------------- -->
  <!-- ---------------------------------------------------- -->
  <section class="blog-posts">
    <div class="section-content">
      <h2 class="eng">Recent Blog Posts</h2>
      <h2 class="span hide">Entradas Recientes del Blog</h2>
      {% for post in site.posts | limit:3 %}
        <h3><a href="{{ post.url }}" class="post-title">
          <span class="date"><i class="far fa-clock"></i> {{ post.date | date_to_string}}</span>
          <i class="far fa-newspaper"></i> 
          <span class="eng">{{ post.English_Title }}</span>
          <span class="span hide">{{ post.Spanish_Title }}</span>
        </a></h3>
      {% endfor %}
      <a href="/blog" class="read-more">
        <span class="eng">Read More Blog Posts</span>
        <span class="span hide">Lea Más Entradas</span>
      </a>
    </div>
  </section>

  <!-- ---------------------------------------------------- -->
  <!-- ------------------- Endorsements ------------------- -->
  <!-- ---------------------------------------------------- -->
  <section class="endorsements">
    <div class="section-content">
      <h2 class="eng">Jorge has {{ site.endorsements | size }} Public Endorsements.</h2>
      <h2 class="span hide">Jorge tiene {{ site.endorsements | size }} Apoyos Públicos.</h2>
      <div class="eng">{{ page.English_Endorsement_Text }}</div>
      <div class="span hide">{{ page.Spanish_Endorsement_Text }}</div>
      <div class="buttons">
        <a href="/endorsements" class="read-more" id="read-btn"> 
          <div class="eng">Read Endorsements</div>
          <div class="span hide">Lea Apoyos Públicos</div>
        </a>
        <a href="/endorsements#endorse" class="read-more" id="endorse-btn"> 
          <div class="eng">Endorse Jorge</div>
          <div class="span hide">Apoye a Jorge</div>
        </a>
      </div>
    </div>
  </section>

</div>