---
layout: default
title: Home
slogan: "#WriteInChallenge"
English_About_Jorge: "<p>A short description of yourself. Keep it short, around 3-4
  sentences long with whatever you think is the most important thing people should
  know about you. They'll be able to read more about you in the About page.</p>"
Spanish_About_Jorge: "<p>Spanish translation of whatever you wrote above.</p>"
English_Key_Issue_One: Short description of issue 1 goes here. Keep it very brief.
English_Key_Issue_Two: Short description of issue 2 goes here. Keep it very brief.
English_Key_Issue_Three: Short description of issue 3 goes here. Keep it very brief.
Spanish_Key_Issue_One: Spanish version of description of issue 1 goes here.
Spanish_Key_Issue_Two: Spanish version of description of issue 2 goes here.
Spanish_Key_Issue_Three: Spanish version of description of issue 3 goes here.
English_Endorsement_Text: "<p>See why people think Jorge A Vela should be the next
  city commissioner of El Cenizo. If you know Jorge, we encourage you to tell others
  why he is the best candidate for the job by writing an endorsement.</p>"
Spanish_Endorsement_Text: "<p>Vea por qué la gente piensa que Jorge A Vela debería
  ser el próximo comisionado de la ciudad de El Cenizo. Si conoce a Jorge, le pedimos
  su apoyo y que escriba un respaldo public.</p>"

---
<div class="page-home">
  
  <h1 class="name">Jorge A Vela</h1>
  <h2 class="comm">For Commissioner</h2>
  <h2 class="slogan">{{ page.slogan }}</h2>

  {% include email.html %}

  <!-- ---------------------------------------------------- -->
  <!-- -------------------- Meet Jorge -------------------- -->
  <!-- ---------------------------------------------------- -->
  <section class="meet-jorge">
    <div class="section-content">
      <h2 class="eng">Meet Jorge A Vela</h2>
      <h2 class="span hide">Conoce a Jorge A Vela</h2>
      <div class="eng">{{ page.English_About_Jorge }}</div>
      <div class="span hide">{{ page.Spanish_About_Jorge }}</div>
      <a href="/about" class="read-more">
        <span class="eng">Read More About Jorge</span>
        <span class="span hide">Lea Más Sobre Jorge</span>
      </a>
    </div>
  </section>

  <!-- ---------------------------------------------------- -->
  <!-- -------------------- Key Issues -------------------- -->
  <!-- ---------------------------------------------------- -->
  <section class="issues">
    <div class="section-content">
      <h2 class="eng">Key Issues for Jorge</h2>
      <h2 class="span hide">Propuestas de Jorge</h2>
      <ul>
        <li class="eng">{{ page.English_Key_Issue_One }}</li>
        <li class="eng">{{ page.English_Key_Issue_Two }}</li>
        <li class="eng">{{ page.English_Key_Issue_Three }}</li>
        <li class="span hide">{{ page.Spanish_Key_Issue_One }}</li>
        <li class="span hide">{{ page.Spanish_Key_Issue_Two }}</li>
        <li class="span hide">{{ page.Spanish_Key_Issue_Three }}</li>
      </ul>
      <a href="/issues" class="read-more">
        <span class="eng">Read More About the Issues</span>
        <span class="span hide">Lea Más Sobre Propuestas</span>
      </a>
    </div>
  </section>

  <!-- ---------------------------------------------------- -->
  <!-- -------------------- Blog Posts -------------------- -->
  <!-- ---------------------------------------------------- -->
  <section class="blog-posts">
    <div class="section-content">
      <h2 class="eng">Recent Blog Posts</h2>
      <h2 class="span hide">Entradas Recientes del Blog</h2>
      {% for post in site.posts | limit:3 %}
        <h3><a href="{{ post.url }}" class="post-title">
          <span class="date"><i class="far fa-clock"></i> {{ post.date | date_to_string}}</span>
          <i class="far fa-newspaper"></i> 
          <span class="eng">{{ post.English_Title }}</span>
          <span class="span hide">{{ post.Spanish_Title }}</span>
        </a></h3>
      {% endfor %}
      <a href="/blog" class="read-more">
        <span class="eng">Read More Blog Posts</span>
        <span class="span hide">Lea Más Entradas</span>
      </a>
    </div>
  </section>

  <!-- ---------------------------------------------------- -->
  <!-- ------------------- Endorsements ------------------- -->
  <!-- ---------------------------------------------------- -->
  <section class="endorsements">
    <div class="section-content">
      <h2 class="eng">Jorge has {{ site.endorsements | size }} Public Endorsements.</h2>
      <h2 class="span hide">Jorge tiene {{ site.endorsements | size }} Apoyos Públicos.</h2>
      <div class="eng">{{ page.English_Endorsement_Text }}</div>
      <div class="span hide">{{ page.Spanish_Endorsement_Text }}</div>
      <div class="buttons">
        <a href="/endorsements" class="read-more" id="read-btn"> 
          <div class="eng">Read Endorsements</div>
          <div class="span hide">Lea Apoyos Públicos</div>
        </a>
        <a href="/endorsements#endorse" class="read-more" id="endorse-btn"> 
          <div class="eng">Endorse Jorge</div>
          <div class="span hide">Apoye a Jorge</div>
        </a>
      </div>
    </div>
  </section>

</div>