<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title></title>
  <meta name="description" content="">
  <link rel="shortcut icon" href="">

  <meta property="og:url" content="">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:site_name" content="">
  <meta property="og:image" content="">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Anton|Open+Sans" rel="stylesheet">

  <link rel="stylesheet" href="/assets/css/main.css">
</head>
