<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title></title>
  <meta name="description" content="">
  <link rel="shortcut icon" href="">

  <meta property="og:url" content="http://jorgeavela.com">
  <meta property="og:title" content="{{ page.English_Title }}">
  <meta property="og:description" content="Hola! My name is Jorge A. Vela, and I am your candidate for city commissioner of El Cenizo, Texas.">
  <meta property="og:site_name" content="jorgeavela.com">
  <meta property="og:image" content="http://jorgeavela.com/assets/img/ogimage.jpg">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Anton|Open+Sans" rel="stylesheet">
  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <link rel="stylesheet" href="/assets/css/main.css">
</head>
