<div class="nav-wrapper">
  <nav>
    <div class="menu">
       <span class="menu-open">MENU <i class="fas fa-bars"></i></span>
       <span class="menu-close hide">CLOSE <i class="fas fa-times"></i></span>
    </div>
    <div class="lang">
      <div id="eng" class="chosen">English</div>
      <div id="span">Español</div>
    </div>
  </nav>
  <div class="menu-overlay">
    <ul class="links">
      <li><a href="/">
        Home
      </a></li>
      <li><a href="/about">
        <span class="eng">About Jorge</span>
        <span class="span hide">Quien es Jorge</span>
      </a></li>
      <li><a href="/issues">
        <div class="eng">Issues</div>
        <div class="span hide">Propuestas</div>
      </a></li>
      <li><a href="/blog">
        Blog
      </a></li>
      <li><a href="/endorsements">
        <div class="eng">Endorsements</div>
        <div class="span hide">Apoyo para Jorge</div>
      </a></li>
      <li><a href="/contact">
        <div class="eng">Contact</div>
        <div class="span hide">Contactanos</div>
      </a></li>
      <li><a href="https://www.facebook.com/JorgeVela2018/" target="_default">
        <div class="eng">Facebook Page</div>
        <div class="span hide">Pagina de Facebook</div>
      </a></li>
    </ul>
  </div>
</div>
