<div class="nav-wrapper">
  <nav>
    <div class="menu">
       <span class="menu-open">MENU <i class="fas fa-bars"></i></span>
       <span class="menu-close hide">CLOSE <i class="fas fa-times"></i></span>
    </div>
    <div class="lang">
      <div id="eng" class="chosen">English</div>
      <div id="span">Español</div>
    </div>
  </nav>
  <div class="menu-overlay">
    <ul class="links">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Jorge</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Endorsements</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="https://www.facebook.com/JorgeVela2018/" target="_default">Facebook Page</a></li>
    </ul>
  </div>
</div>
