<section class="final-section">
  <div class="section-content">
    <h2>Jorge A Vela for El Cenizo Commissioner</h2>
    <ul class="links">
      <li><a href="/">
        Home
      </a></li>
      <li><a href="/about">
        <span class="eng">About Jorge</span>
        <span class="span hide">Quien es Jorge</span>
      </a></li>
      <li><a href="/issues">
        <div class="eng">Issues</div>
        <div class="span hide">Propuestas</div>
      </a></li>
      <li><a href="/blog">
        Blog
      </a></li>
      <li><a href="/endorsements">
        <div class="eng">Endorsements</div>
        <div class="span hide">Apoyo para Jorge</div>
      </a></li>
      <li><a href="/contact">
        <div class="eng">Contact</div>
        <div class="span hide">Contactanos</div>
      </a></li>
    </ul>
    <p class="eng">Follow the campaign on Facebook:</p>
    <p class="span hide">Sigue la campaña en Facebook:</p>
    <p class="fb"><i class="fab fa-facebook"></i> <a href="https://www.facebook.com/JorgeVela2018/" target="_default">Facebook.com/JorgeVela2018</a></p>
  </div>
</section>