<section class="final-section">
  <div class="section-content">
    <h2>Jorge A Vela for El Cenizo Commissioner</h2>
    <ul class="links">
      <li><a href="/">Home</a></li>
      <li><a href="#">About Jorge</a></li>
      <li><a href="#">Issues</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Endorsements</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <p>Follow the campaign on Facebook:</p>
    <p class="fb"><i class="fab fa-facebook"></i> <a href="https://www.facebook.com/JorgeVela2018/" target="_default">Facebook.com/JorgeVela2018</a></p>
  </div>
</section>