.page-wrapper {
  header {
    background-color: $color-main;
    padding: 25px 15px;
    font-size: 1.5em;
    color: white;
    text-align: center;
  }
  .page-content {
    padding: 25px 15px;
    max-width: 800px;
    margin: 0 auto;
    font-size: 1em;
    line-height: 1.5;
  }
}

@media only screen and (min-width: 600px) {
  .page-wrapper {
    header {
      font-size: 2em;
    }
    .page-content {
      padding: 35px;
      font-size: 1.1em;
    }
  }
}