.post-wrapper {
  h1 {
    text-align: center;
    padding-top: 50px;
    max-width: 650px;
    margin: 0 auto;
  }
  .date {
    text-align: center;
  }
  .post-content {
    max-width: 650px;
    margin: 60px auto 35px;
    line-height: 1.5;
    .share {
      background-color: #F0F0F0;
      padding: 15px;
      margin-top: 35px;
      background-image: url("/assets/img/share-background.png");
      h3 {
        text-align: center;
      }
      .share-btns {
        display: block;
        margin-top: 25px;
        text-align: center;
      }
    }
  }
}